<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.bubble.sub.repository.SubRepository">

    <select id="findAll" resultType="com.my.bubble.sub.model.ResponsePubList" parameterType="String">
        SELECT u.id AS pubId
             , u.name
             , CASE
                   WHEN s.pub_id IS NULL THEN 'N'
                   ELSE 'Y'
                END as subYn
        FROM user u
        LEFT JOIN(
                     SELECT s2.pub_id
                     FROM subscribe s2
                     WHERE s2.user_id = #{id}
                       AND s2.valid_yn = 'Y'
                 ) s
             ON u.id = s.pub_id
        WHERE u.id IN (SELECT a.id FROM auth a WHERE a.auth = 'ROLE_CEL')
    </select>

    <insert id="saveSubFirst" parameterType="com.my.bubble.sub.model.Subscribe">
        INSERT INTO subscribe (user_id, pub_id, start_date, end_date, valid_yn, times)
        VALUES (#{userId}, #{pubId}, now(), DATE_ADD(now(), INTERVAL 1 MONTH), 'Y', 1)
    </insert>

</mapper>