<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.bubble.user.repository.UserRepository">
    <insert id="save" parameterType="com.my.bubble.user.model.User">
        INSERT INTO user
        VALUES (#{id}, #{password}, 'ROLE_USER')
    </insert>

    <select id="findById" parameterType="String" resultType="com.my.bubble.user.model.User">
        SELECT u.id
                , u.password
                , GROUP_CONCAT(a.auth) auth
                , u.email
                , u.login_failed loginFailed
                , u.lock_yn lockYn
                , u.lock_date lockDate
        FROM user u
        JOIN auth a
            ON u.id = a.id
        WHERE u.id = #{id}
    </select>

    <update id="updateLoginFailed" parameterType="String">
        UPDATE user
        SET login_failed = login_failed + 1,
            lock_yn = CASE WHEN login_failed = 5 THEN 'Y' ELSE 'N' END,
            lock_date = CASE WHEN login_failed = 5 THEN now() END
        WHERE id = #{id}
    </update>

    <update id="updateLoginFailedZero" parameterType="String">
        UPDATE user
        SET login_failed = 0
        WHERE id = #{id}
    </update>

</mapper>