<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pub</title>
</head>
<body>

<h1>PICK ME PICK ME</h1>
<a href="/sub/list">나의 구독-리스트로 슝 갑니다</a><br/>

<ul th:each="pub : ${pubList}">
    <li th:id="|li-${pub.pubId}|">
        [[${pub.name}]] 님을 구독하겠어요... 한달에 4,500원 soooo 저렴
        <span th:if="${pub.subYn == 'Y'}" th:id="|span-${pub.pubId}|"> (이미 구독 중)</span>
        <button th:if="${pub.subYn == 'N'}" th:id="|btn-${pub.pubId}|" th:onclick="subscribe([[${pub}]])">구독하기</button>
    </li>
</ul>

<script>
    function subscribe(pub) {
        console.log(pub);

        let check = confirm(`${pub.name} 님과 정말....함께 하실래요....?`);
        if (check) {
            fetch('/sub',{
                method: 'POST',
                body: JSON.stringify({pubId : pub.pubId}),
                headers: {
                    'Content-Type' : 'application/json'
                }
            })
                .then((response) => {
                    console.log(response)
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('앗! 구독이 실패..ㅜ');
                })
                .then((data) => {
                    console.log(data)
                    alert(`축하드립니다. 이제 당신은 ${pub.name} 와 항상 함께 입ㄴ디ㅏ.`)
                    if (data.message === 'ok') {
                        // let span = document.getElementById(`span-${pub.pubId}`).style.display = 'inline';
                        document.getElementById(`btn-${pub.pubId}`).style.display = 'none';
                        let li = document.getElementById(`li-${pub.pubId}`);
                        li.innerText += ' (이미 구독 중)';
                        // let span = document.getElementById('span-' + pub.pubId).style.display = 'inline';
                        // let btn = document.getElementById('btn-' + pub.pubId).style.display = 'none';
                    }
                })
                .catch((error) => {
                    alert(error);
                    console.log(error);
                });
        }
    }
</script>
</body>
</html>